<div class="spotify-artist">
  {% if elements.artist_image %}
    <div class="spotify-artist__image">
      {{ elements.artist_image }}
    </div>
  {% endif %}

  <div class="spotify-artist__details">
    {% if elements.artist_name %}
      <h1 class="spotify-artist__name">{{ elements.artist_name }}</h1>
    {% endif %}

    {% if elements.last_updated %}
      <p class="spotify-artist__last-updated"><small>{{ elements.last_updated }}</small></p>
    {% endif %}

    {% if elements.artist_genres %}
      <div class="spotify-artist__genres">
        {{ elements.artist_genres }}
      </div>
    {% endif %}

    {% if elements.artist_followers %}
      <p class="spotify-artist__followers">{{ elements.artist_followers }}</p>
    {% endif %}

    {% if elements.artist_popularity %}
      <p class="spotify-artist__popularity">{{ elements.artist_popularity }}</p>
    {% endif %}

    {% if elements.artist_link %}
      <p class="spotify-artist__link">{{ elements.artist_link }}</p>
    {% endif %}
  </div>
</div>
